# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.sqlite3
/media/
*.log

# VS Code
.vscode/

# Environment
.env
*.env

# Migrations
*/migrations/
!*/migrations/__init__.py

# OS
.DS_Store
Thumbs.db

# Static/Media
staticfiles/
static/
media/

# Others